Package: com.yourname.sbcpufloating
Name: SB CPU Floating
Version: 1.6.4
Architecture: iphoneos-arm64
Maintainer: YourName
Author: YourName
Description: SpringBoard CPU Floating Monitor and CPU Mitigation Controller
Section: Tweaks
Depends: mobilesubstrate
