Package: com.sbcpu.floating
Name: SB CPU Floating
Version: 1.7.1
Architecture: iphoneos-arm64
Description: SpringBoard CPU and Battery Monitor tweak with thermal mitigation hooks.
Maintainer: SBCPUFloating
Author: SBCPUFloating
Section: Tweaks
Depends: mobilesubstrate
