Package: com.sbcpu.floating
Name: SB CPU Floating
Version: 1.7.0
Architecture: iphoneos-arm64
Description: SpringBoard CPU and Battery Monitor tweak. Monitors SpringBoard CPU usage, battery temperature, charging status and power information.
Maintainer: SBCPUFloating
Author: SBCPUFloating
Section: Tweaks
Depends: mobilesubstrate

