
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>浮窗状态</string>
			<key>footerText</key>
			<string>提示：关闭后浮窗将立即隐藏，详细参数请双击桌面的悬浮窗进行设置。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yourname.sbcpufloating</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>开启浮窗</string>
			<key>PostNotification</key>
			<string>com.yourname.sbcpufloating.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>功能介绍</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>▣ CPU / FPS</string>
			<key>footerText</key>
			<string>实时查看当前设备的 CPU 负载、物理频率与屏幕刷新帧率。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>▣ 电池 / 温度</string>
			<key>footerText</key>
			<string>精准读取真实电池电量、硬件级温度与充放电电流。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>▣ 通知中心与悬浮聊天</string>
			<key>footerText</key>
			<string>无缝显示微信/QQ消息，点击直达聊天窗口。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>▣ 充电与温控增强</string>
			<key>footerText</key>
			<string>突破系统限制，提供智能温度旁路供电与强力满血快充选项。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>手势使用说明</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>👆 单击浮窗</string>
			<key>get</key>
			<string></string>
			<key>value</key>
			<string>展开胶囊 / 消息直达</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>✌️ 双击浮窗</string>
			<key>get</key>
			<string></string>
			<key>value</key>
			<string>进入高级设置中心</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>👆 长按浮窗</string>
			<key>get</key>
			<string></string>
			<key>value</key>
			<string>查看详细硬件状态</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>🤚 拖动浮窗</string>
			<key>get</key>
			<string></string>
			<key>value</key>
			<string>自由移动与边缘吸附</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SBCPU Floating V2.8 by MoWang</string>
		</dict>
	</array>
	<key>title</key>
	<string>SBCPU Floating</string>
</dict>
</plist>

